/*
 * Yunus Emre AK ©
 * Bu lisans metni olmadan kullanılamaz.
 */


/*
 * Markdown PDF CSS
 */

pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    border-radius: 3px;
    overflow-x: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

pre:not(.hljs) {
    padding: 23px;
    line-height: 19px;
}

blockquote {
    background: rgba(127, 127, 127, 0.1);
    border-color: rgba(0, 122, 204, 0.5);
}

.emoji {
    height: 1.4em;
}


/* for inline code */

:not(pre):not(.hljs)>code {
    color: #C9AE75;
    /* Change the old color so it seems less like an error */
    font-size: inherit;
}


/* Page Break : use <div class="page"/> to insert page break
-------------------------------------------------------- */

.page {
    page-break-after: always;
}


/* Kişisel Css */


/* Ana font ayarı */

body {
    background: #fff;
    color: #0a0114;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14.3px;
    padding: 8.5px calc(50% - 455px + 17px);
    min-width: 350px;
}


/* Seçim arka planı */

body ::selection {
    background: rgba(115, 125, 140, .25);
}


/* Liste düzenlemesi */

ul {
    list-style: square;
}


/* Tablo düzenlemesi */

table>tbody>tr+tr>td {
    border-top: 0px solid;
}

table thead {
    color: #506d95;
    font-size: 15.7px
    /* text-transform: uppercase; */
}

table tr:nth-child(even) {
    background: #eff2f5
}

table tr:nth-child(odd) {
    /** ghostwhite **/
    background: inherit
}


/* Başlık metinleri ayarı */

h1 {
    margin-top: 21.4px;
    margin-bottom: 21.4px;
    font-size: 25.7px;
    color: rgb(214, 16, 16);
}

h2 {
    margin-top: 21.4px;
    margin-bottom: 21.4px;
    color: darkblue;
    font-size: 21.7px;
}

h3 {
    margin-top: 17.4px;
    margin-bottom: 17.4px;
    font-size: 19.7px;
    color: darkgreen
}

h4 {
    margin-top: 13.4px;
    margin-bottom: 13.4px;
    font-size: 17.7px;
    color: palevioletred;
}

h5 {
    margin-top: 9.4px;
    margin-bottom: 9.4px;
    font-size: 15.7px;
    color: cadetblue;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500
}

a {
    font-weight: 400
}


/* Yorum satırı ayarı */

blockquote {
    margin-bottom: 8px;
    margin-top: 8px;
    padding-bottom: 4.7px;
    padding-top: 4.7px;
}

blockquote p {
    margin: 0 !important
}